/* font */
@font-face {
    font-family: "Oddly Calming";
    src: url(OddlyCalming.ttf)
}

body {
    background-image: url(night.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}


.btn {
    color: #5a40c7;
    font-family: "Oddly Calming";
    background: #8273f3;
    border: 20px solid #312682;
    border-radius: 25px;
    
    padding: 20px 40px 20px 40px;
    margin: auto;
    font-size: 35px;



    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;

}


a {
    text-decoration: none;
}


.btn:hover {
    cursor: pointer;
    color: #261192;
    background: #312682;
    font-size: 40px;
    padding: 15px 35px 15px 35px;

    transform: translateY(-15px);
}




.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;

    border: 10px solid #30267f;
    height: 70px;
    background-color: #30267f;
}

.footer p {
    position: relative;
    left: 44%;
    bottom: -10px;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
}

.footer .img1 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 3.8%;
    
}


.footer .img2 {
    position: absolute;
    left: 2420px;
    bottom: 20px;
    height: 40%;
    width: 1.52%;

    
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(-360deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.footer .img2:hover {
    position: absolute;
    left: 2420px;
    bottom: 20px;
    height: 40%;
    width: 1.52%;

    animation: spin 3s ease 0s infinite normal none;
}




.wrapper .btn {
    margin-bottom: 20px;
}


.wrapper .head1 {
    position: absolute; 
    top: 0; 
    font-family: "Poppins";
    color: white;
    font-size: 30px;
} 

@keyframes breathing {
    0% {
     opacity: 0;
    }
 
    50% {
     opacity: 1;
    }
 
    100% {
     opacity: 0;
    }
 }



.wrapper .head2 {
    position: relative;
    top: -25px;
    font-family: "Poppins";
    color: white;

/*animation*/
    animation: breathing 3s ease-in-out 0s infinite none;

}


@keyframes moveUpDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}





.wrapper img {
    height: 80px;
    width: 80px;
    margin: 10px;
    animation: moveUpDown 3s infinite alternate;
}

.wrapper {
    width: 450px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}





/* center */
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
